<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timer timer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<h2>Timer Demo</h2>
<button id="start-btn">start</button>
<button id="stop-btn">stop</button>
<span id="demo">hello</span>
<script th:inline="javascript">
setInterval (pt, 1000);
function pt(){
var url ="/time-remaining";
$.getJSON( url, function( data ){
 console.log(data);
document.getElementById("demo").innerHTML = data;
});
}


$("#start-btn").click(
function() {
var url ="/start";
  alert( "Handler for .start() called." );
  $.getJSON(url, function(data){console.log(data)});
});

$("#stop-btn").click(
function() {
var url ="/stop";
  alert( "Handler for .stop() called." );
  $.getJSON(url, function(data){console.log(data)});
  $("#stop-btn").attr('disabled','disabled');
});


</script>

</body>
</html>